<div class="modal-wrapper">
  <div class="modal-header">
    <div class="icon-circle">
      <ion-icon name="help-circle-outline"></ion-icon>
    </div>
    <h3>Bantuan Aplikasi</h3>
  </div>

  <div class="info-box">
    <div class="info-title">
      <ion-icon name="information-circle"></ion-icon>
      <span>Cara Menggunakan:</span>
    </div>
    
    <div class="help-list">
      <div class="help-item">
        <span class="number">1.</span>
        <p>Gunakan menu sidebar untuk navigasi antar halaman utama.</p>
      </div>
      <div class="help-item">
        <span class="number">2.</span>
        <p>Lengkapi profil & verifikasi KTP agar bisa mulai menawar (Bid).</p>
      </div>
      <div class="help-item">
        <span class="number">3.</span>
        <p>Pantau status kemenangan Anda di halaman Riwayat.</p>
      </div>
    </div>
  </div>

  <div class="modal-actions">
    <ion-button fill="clear" class="btn-understand" (click)="dismiss()">
      Mengerti
    </ion-button>
  </div>
</div>